/QOProjects
/vendor/
/node_modules/
/nbproject
/database/factories/UserFactory.php
/database/seeds/*
/public/uploads/*
/public/fixings/*
/public/sales_acts/*
.env
*.env
/.env
/*.env
./.env