/* Remove the navbar's default rounded borders and increase the bottom margin */

#headerNavbar {
    padding-left: 0px;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}


/* Remove the jumbotron's default bottom margin */

.jumbotron {
    margin-bottom: 0;
}

.logo img {
    width: 100%;
    height: 100px;
}

#preview {
    max-width: 100%;
}

#grid-basic {
    width: 100%;
    font-size: 13px;
}

.photo {
    margin: 15px 7px;
    max-width: 460px;
    width: auto;
    height: auto;
}

.photo.big {
    width: 100%;
    max-width: 600px;
}

.modal-body legend {
    font-size: 16px;
    font-weight: bold;
}

#fileContainer * {
    margin-bottom: 5px !important;
}

.bubbler-wrapper {
    z-index: 9999;
}

@media (max-width: 768px) {
    .carousel {
        width: 330px !important;
    }
    .bubbler-wrapper {
        margin: 0 1em 1em 0 !important;
    }
    #add-customer-btn-div {
        margin-top: 10px;
    }
}

@media print {
    .bubbler-wrapper {
        display: none !important;
    }
    @page {
        margin: 0;
    }
    body {
        margin: 1.6cm 0cm;
    }
    p,
    span,
    table,
    ol {
        font-size: 11px !important;
    }
    .fine-print {
        font-size: 7px !important;
    }
}